/* define GL colours */
.bg-gl-red {
  background-color: #770f00;
}
.bg-gl-dark-blue {
  background-color: #3e767f;
}
.bg-gl-dark-grey {
  background-color: #928b81;
}
.bg-gl-light-grey {
  background-color: #dddad3;
}
.text-shadow-light-blue {
  text-shadow: #5ca5c0 2px 2px;
}
.color-gl-red {
  color: #770f00;
}
.fill-gl-red {
  fill: #770f00;
}
.black {
  color: #000;
}
.white {
  color: #fff;
}
.text-dark-0 {
  color: #343a40;
}
.bg-dark-0 {
  background-color: #343a40;
}
.text-light-0 {
  color: #f8f9fa;
}
.bg-light-0 {
  background-color: #f8f9fa;
}
.text-dark-1 {
  color: #3e767f;
}
.bg-dark-1 {
  background-color: #3e767f;
}
.text-light-1 {
  color: #dddad3;
}
.bg-light-1 {
  background-color: #dddad3;
}
.text-dark-2 {
  color: #770f00;
}
.bg-dark-2 {
  background-color: #770f00;
}
.text-light-2 {
  color: #5ca5c0;
}
.bg-light-2 {
  background-color: #5ca5c0;
}
/* GL button: red button on white background */
.btn-gl {
  background-color: #fff;
  color: #770f00;
  border-color: #770f00;
  font-weight: bold;
}
.btn-gl:hover {
  text-decoration: underline;
}
.color-facebook {
  color: #3b5998;
}
.color-twitter {
  color: #4099ff;
}
.color-instagram {
  color: #e95950;
}
.color-linkedin {
  color: #0077B5;
}
.color-good-loop {
  color: #770f00;
}
.bg-facebook {
  background-color: #3b5998;
}
.bg-twitter {
  background-color: #4099ff;
}
.bg-instagram {
  background-color: #e95950;
}
.bg-linkedin {
  background-color: #0077B5;
}
.bg-good-loop {
  background-color: #770f00;
}
.WizardProgressWidget {
  display: flex;
  align-items: center;
}
.WizardProgressWidget .Stage {
  position: relative;
  display: inline-block;
  /* evenly spaced */
  flex-grow: 1;
  flex-basis: 0;
}
.WizardProgressWidget .Stage h5 {
  font-size: 18px;
  transition: opacity 0.5s;
}
.WizardProgressWidget .Stage .marker {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}
.WizardProgressWidget .Stage .line {
  width: 100%;
  border-top: solid 3px !important;
  border-bottom: solid 3px;
  margin: 0;
  margin-top: -30px !important;
  margin-bottom: 20px !important;
}
.WizardProgressWidget .Stage .below {
  opacity: 0;
}
.WizardProgressWidget .Stage {
  color: #80bde7;
}
.WizardProgressWidget .Stage.complete {
  color: #005;
  cursor: pointer;
}
.WizardProgressWidget .Stage.active {
  color: #005;
}
.WizardProgressWidget .Stage.active .above {
  opacity: 0;
}
.WizardProgressWidget .Stage.active .below {
  opacity: 1;
}
.padded-block {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.WizardStage {
  min-height: 50vh;
}
.WizardStage .nav-buttons {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  /* using floats, so we need to make the widget big enough */
  min-height: 60px;
}
